header.header
  a(href="#").header__logo
    img(src="assets/images/logo.svg", alt="Logo")
  nav.header__nav
    ul.nav
      li.nav__item
        a(href="").nav__link Продукты
      li.nav__item
        a(href="").nav__link Цвета
      li.nav__item
        a(href="").nav__link Вдохновение
      li.nav__item
        a(href="").nav__link Советы
      li.nav__item
        a(href="").nav__link Найти магазин
  a(href="tel:+74952217769" target="_black").contact
    .contact__number +7 (495) 221-77-69
    .contact__subtitle Заказать звонок
  ul.control
    li.control__item
      button.control__btn.control__btn_search
    li.control__item
      button.control__btn.control__btn_account
    li.control__item
      button.control__btn.control__btn_favorite
    li.control__item
      button.control__btn.control__btn_cart 4

