section.slider
  ul.breadcrumbs
    li.breadcrumbs__item Главная
    li.breadcrumbs__item Продукты
    li.breadcrumbs__item Краски
  .slider__content
    .slider__arrow_left.arrow_btn
      svg(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M50 20L30 40L50 60" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    .slider__text
      h2.slider__text_title Краски
      p.slider__text_subtitle Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
    .slider__arrow_right.arrow_btn
      svg(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M30 60L50 40L30 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
