section.slider
  ul.breadcrumbs
    li.breadcrumbs__item Главная
    li.breadcrumbs__item Продукты
    li.breadcrumbs__item Краски

  .swiper
    .swiper-wrapper
      each slide in [{img: 'slider-bg.png'}, {img: 'slider-bg.png'}, {img: 'slider-bg.png'}, {img: 'slider-bg.png'}, {img: 'slider-bg.png'}, {img: 'slider-bg.png'}]
        .swiper-slide
          img(src=`assets/images/${slide.img}`, alt=slide.title)
    .slider__text
      h2.slider__text_title Краски
      p.slider__text_subtitle Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
