doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Catalog
    link(rel="icon" href="@images/icons/favicon-64.png")
    link(href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    style
      include ../css/style.css
  body
    .wrapper
      include components/header
      include components/slider
      include components/catalog
      include components/cart
      include components/footer
    .overlay
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(type="module", src="js/script.js")